<html>
<font face="sans-serif">
<p>This will install Metasploit Framework and its dependencies on your Mac.</p>

<p>The framework itself will be installed under <b>/opt/metasploit-framework/framework</b>.
Convenience wrappers for the commands are installed under <b>/opt/metasploit-framework/bin</b>,
which can be added to your PATH environment variable.</p>

<p>If you want to use a database with the framework, you can use the 'msfdb'
command to configure, start and stop it. Run '/opt/metasploit-framework/bin/msfdb' for
more information.</p>

<p>This is an unofficial installer and a work in progress.</p>

<p>If you are interested in Metasploit Framework development, see the
<a href="https://github.com/rapid7/metasploit-framework">Github Project</a> and the
<a href="https://github.com/rapid7/metasploit-framework/wiki">Development Wiki</a>.
</p>

<p>Thank you for using Metasploit! Have a fantastic day!</p>
</font>
</html>
