<html>
<font face="sans-serif">
  <p>Metasploit is primarily distributed under the 3-clause BSD license.</p>
  <p>See the current <a href="https://raw.githubusercontent.com/rapid7/metasploit-framework/master/LICENSE">LICENSE</a> file for details.</p>
</font>
</html>
