This will install Metasploit Framework and its dependencies on your Mac.

--------------------------------------------------

The framework itself will be installed under <b>/opt/metasploit/framework</b>. Convenience wrappers for the commands are installed under <b>/opt/metasploit/bin</b>, which can be added to your PATH environment variable.

This is an unofficial installer and a work in progress.

If you are interested in Metasploit Framework development, see
<a href="https://github.com/rapid7/metasploit-framework">GitHub</a> and the
<a href="https://github.com/rapid7/metasploit-framework/wiki">Development Wiki</a>.

Thank you for using Metasploit! Have a fantastic day!
